body {
	background-color: #B3FC9E;
}
#logo {
	width:100%;
	padding:5px;
}
#logo2 {
	width:115%;
	padding:5px;
	padding-left:0px;
}
.menu {
	background-color:#26AD00;
	border-color:#26AD00;
}
.liga{
	font-family:"Arial Black";
	font-size:18px;
	color:black;
	text-decoration:underline;

}
a:link, a:hover, a:visited{
	text-decoration:none;
	
}
.imagenesCarousel {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
.descripcion {
	color:black;
	font-weight: bold;
	font-size:18px;
	font-family: "Times New Roman";
}
.sideImage{
	width:95%;

}

#facebook{
	padding-top:10px;
	width:95%;
	background-color:blue;
	height:300px;
}
.divisor{
	background-color:#26AD00;
	border-color:#26AD00;
	height:20px;
	border-radius:3px;
	margin:2px;
}
.divisor2{
	background-color:#26AD00;
	border-color:#26AD00;
	height:3px;
	border-radius:3px;
	margin:2px;
}
#prox {
	background-color:red;
	height:300px;
	width:100%;
}
.miniImagen{

	display:inline;
	width:49px;
	height:45px;
}
.miniTexto{
	text-align:center;
	text-decoration:none;
	color:black;
}
.imagen1{
	margin-left:150px;
}
.Map{

	width:	100%;
    height: 200px;
    background-color: #CCC;
}
#PaqueteLab{
	width:100%;
	text-align:center;
	color:black;
	font-family:"Arial Black";
	background-color:#F0861D;
	font-style:bold;
	font-size: 2em;
	border:solid 2px #FF0C0C;
	border-radius:25px;
}
#domingos{
	width:100%;
	text-align:center;
	color:black;
	font-family:"Arial Black";
	background-color:#F0861D;
	font-style:bold;
	font-size: 2em;
	border:solid 2px #FF0C0C;
	border-radius:25px;

}